<!DOCTYPE html>
<html lang="es-MX" layout="app">
  <head>
    <%= render "shared/head" %>
  </head>

  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <%= render "shared/components/theme/topbar" %>
    <%= render "shared/components/theme/header" %>
    <%= yield %>
  </body>
</html>